* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    background: url(bg-mobile.svg), linear-gradient(hsl(257, 40%, 49%)40%, hsl(257, 40%, 49%));
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-position: top center;
    width: 100%;
    height: 100vh;
    padding: 35px;
    font-size: 18px;
    font-family: "open sans", sans-serif;
    color: white;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 50%; 
}

.illustration {
    width: 100%;
    margin: 60px 0;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 15px 0;
    
}

.register_button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin: 30px 0 60px 0;
    color: hsl(257, 40%, 49%);
    border: none;
    box-shadow: 0px 5px 10px hsla(0, 0%, 30%, 0.5);
}

footer {
    padding-bottom: 35px ;
    text-align: center;
}

.social_links button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2.5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
} 

button {
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
}

.register_button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social_links button:hover {
    background-color: hsl(257, 40%, 49%);
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

@media (min-width:850px) {
    body {
        height: 100vh;
        overflow: hidden;
        padding:  0 60px;
        background: url(bg-desktop.svg), linear-gradient(hsl(257, 40%, 49%)40%, hsl(257, 40%, 49%));
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 40px;
        max-width: none;
        height: 100%;
    }

    header {
        width: 20%;
        position: absolute;
        left: 60px;
        top: 40px;
    }
    
    .logo {
        width: 100%;
    }

    .illustration {
        margin: 0;
        width: 100%;
        min-width: 650px;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .social_links {
        position: absolute;
        bottom: 30px;
        right: 80px;
    }
}


